    <% @questions.each_with_index do |question, i| %>
        <div id = "classification<%= question.id %>">
            <p>#####################</p>
            <p>id:<%= question.id %></p>
            <p><%= image_tag question.question_image.url %></p>
            <p>コラム:<%= question.column %></p>
            <p>ヒント:<%= question.hint %></p>
            <p>レベル:<%= question.level %></p>
            <p>カテゴリー:<%= question.category %></p>

            <div>
                <select id="area<%= question.id %>" name="area<%= question.id %>">
                  <option value="0">答えを入力してください</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
                <p id="result<%= question.id %>"></p>
            </div>

        <button id="button<%= question.id %>">次の問題へ</button>


        </div>

        <% if i == 0 %>
            <script>
                $(function() {
                    $("#classification<%= question.id %>").show();
                });
            </script>
        <% elsif @questions.length - 1 == i %>

            <script>
                $(document).ready(function(){
                    $("#classification<%= question.id %>").hide();
                });

                $("#button<%= question.id %>").text("正解率を確認");

                $("#button<%= question.id %>").on("click", function(){
                    var ans = $('p.ans').length;
                    var good = $('p.good').length;
                    alert("あなたの正解数は" + good + "/" + ans + "(" + good/ans*100 + "%)" + "です")
                });

            </script>

        <% else %>
            <script>
                $(document).ready(function(){
                    $("#classification<%= question.id %>").hide();
                });
            </script>
        <% end %>

        <script>

            $('#area<%= question.id %>').change(function() {
                var r = $('[name=area<%= question.id %>] option:selected').val();
                    if (<%= question.answer %> == r) {
                        $('#result<%= question.id %>').append('<p class="ans good">大正解！！！！！</p>').css({'color':'red','font-size':'50px'});
                    } else {
                        $('#result<%= question.id %>').append('<p class="ans not">不正解</p>').css({'color':'blue','font-size':'50px'});
                    }
                $("#classification<%= question.id %>").next().next().next().show();
            })

        </script>

    <% end %>
