<h1>Ajax#index</h1>
<p id="hoge">赤色になる</p>

<% @questions.each do |question| %>
    <p>---------------------------------</p>
    <p>id:<%= question.id %></p>
    <p>質問内容画像:<%= image_tag question.question_image.url %></p>
    <p>答え（数字）:<%= question.answer %></p>
    <p>コラム:<%= question.column %></p>
    <p>ヒント:<%= question.hint %></p>
    <p>レベル:<%= question.level %></p>
    <p>カテゴリー:<%= question.category %></p>
<% end %>

<script>
  $("#hoge").css("color","red")
</script>
