<%= @question.id %><br>
<p><%= image_tag(@question.question_image.url, :size => "446x75") %></p>
<p>答え（数字）:<%= @question.answer %></p>
<p>コラム:<%= @question.column %></p>
<p>ヒント:<%= @question.hint %></p>
<p>レベル:<%= @question.level %></p>
<p>カテゴリー:<%= @question.category %></p>

<%= link_to "問題作成画面へ", new_question_path %>
