<div>
    <h1>レベルで選ぶ</h1>
    <ul>
        <li><%= link_to 'レベル1', level1_path %></li>
        <li><%= link_to 'レベル2', level2_path %></li>
        <li><%= link_to 'レベル3', level3_path %></li>
    </ul>
</div>

<div>
    <h1>カテゴリーで選ぶ</h1>
    <ul>
        <li><%= link_to '弧度法と度数法', radian_frequency_method_path %></li>
        <li><%= link_to '加法定理', addition_theorem_path %></li>
        <li><%= link_to '相互関係', interrelationship_path %></li>
        <li><%= link_to '二倍角の公式', double_angle_path %></li>
        <li><%= link_to '合成', synthesis_path %></li>
    </ul>
</div>

<a href="../html/home.html">問題選択画面へ</a>
